<div class='mt-4'>
    <h3>đăng vi deo</h3>
    <form method='post' action='/courses/store'>

        <div class='mb-3'>
            <label for='name' class='form-label'>tên video</label>
            <input type='text' class='form-control' id='name' name='name' />
        </div>
        <div class='mb-3'>
            <label for='description' class='form-label'>mô tả</label>
            <input type='text' class='form-control' id='description' name='description' />
        </div>
        <div class='mb-3'>
            <label for='videoId' class='form-label'>video id</label>
            <input type='text' class='form-control' id='videoId' name='videoId' />
        </div>
        <div class='mb-3'>
            <label for='lever' class='form-label'>trình độ</label>
            <input type='text' class='form-control' id='lever' name='lever' />
        </div>
        <button type='submit' class='btn btn-primary'>thêm</button>
    </form>
</div>