<div class="card text-center">
  <div class="card-header">
    Liện hệ phỏng vấn
  </div>
  <div class="card-body">
    <p class="card-text">gmail</p>
    <h5 class="card-title">hoangtruongqh03@gmail.com</h5>
    
  </div>
  <div class="card-footer text-muted">
    <p class="card-text">số liên hệ</p>
    <h5 class="card-title">0329514417</h5>
  </div>
</div>